@media screen {
    body {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#FFF));
        background: -webkit-linear-gradient(top, #F0F0F0, #FFF);
        background: -moz-linear-gradient(top, #F0F0F0, #FFF);
        background: -ms-linear-gradient(top, #F0F0F0, #FFF);
        background: -o-linear-gradient(top, #F0F0F0, #FFF);
        background-size: 100% 550px;
        background-repeat: no-repeat;
    }
    header {
        background: url('/static/images/425.png') #585858;
        background-repeat: no-repeat;
        background-size: 100% 150px;
    }
    header h1 {color: #DCDCDC;}
    nav ul li {background: #575757;}
    nav ul li:hover {background: #454545;}
    p.error {color: #585858;}

    ul#menu .menu-icon-box {background-image:url('/static/images/icons_white.png');}

    p.error, .skin-color {color: #585858;}/*taki sam jak header bg*/
    div.pagination span.current-page {color: #454545;} /* taki sam jak nav li:hover bg*/
    div.pagination a:link, div.pagination a:visited {color: #575757;border: 1px solid #575757;background: #F0F0F0;}/*col taki sam jak nav li bg, bg takie jak body*/
    div.pagination a:hover {color:#FFF;background:#454545;}/*bg takie samo jak nav li:hover bg*/
    article a:link, article a:visited {color:#454545;}/*taki sam jak nav li:hover bg*/
    table.colored th {color:white; background:#575757;}/* taki samo jak nav li bg*/
    table.colored tr:nth-child(even){background:#F0F0F0;}/* ten sam co bg */

} /* END MEDIA SCREEN */
