{% extends 'main/base.html' %}

{% block content %}
    <section>
        <h2>Skład zarządu Koła</h2>
        <hr/><br/>

        <table class="noborder maxwidth" style="border-spacing:5px;">
            <tr>
                <td><b>Przewodniczący</b></td>
                <td>mgr Tadeusz Rauchfleisz</td>
            </tr>
            <tr>
                <td><b>Zastępca przewodniczącego</b></td>
                <td>lek. wet. Zbigniew Zawadzki</td>
            </tr>
            <tr>
                <td><b>Skarbnik</b></td>
                <td>inż. Urszula Rodzińska</td>
            </tr>
            <tr>
                <td><b>Sekretarz i opiekun dokumentacji</b></td>
                <td>inż. Barbara Tymińska</td>
            </tr>
            <tr>
                <td><b>Organizator wystaw</b></td>
                <td>mgr Krystyna Nowak</td>
            </tr>
            <tr>
                <td><b>Artysta plastyk</b></td>
                <td>mgr Grzegorz Rygielski</td>
            </tr>
            <tr>
                <td><b>Redaktor wydawnictw</b></td>
                <td>mgr Janusz Hinz</td>
            </tr>
            <tr>
                <td><b>Członkowie</b></td>
                <td>Edward Wiśniewski</td>
            </tr>
            <tr>
                <td/>
                <td><span style="border-size: 1px; border-style: double; border-color: black; padding: 3px;">&#10013; mgr Iwona Żurawska</span></td>
            </tr>
        </table>
    </section>

    <section>
        <h2>Kontakt</h2>
        <hr/><br/>

        <p>Wszelkie sprawy prosimy kierować na adres skrzynki elektronicznej <a href="mailto:kmdg@vp.pl">kmdg@vp.pl</a></p>
    </section>
{% endblock %}
