<div class="entry maxwidth"> <!-- ENTRY -->

    <div class="icon-info">
            <span class="big-text skin-color" title="{{ event.date|date:'l, d.m.Y' }}">{{ event.date|date:'d E' }}</span>
    </div>
    <div class="content-info">
            <span class="meeting">Spotkanie nr {{ event.number_of_meeting }}</span>
            <p class="referent">{{ event.referent }}</p>
            <p class="topic">{{event.title}}</p>
            {% if event.has_bulletin %}
            <span class="goto">
                <a title="Przejdź do biuletynu" href="/publikacje/biuletyny/numer/{{ event.get_bulletin.get_number }}">Przejdź do biuletynu &raquo;</a>
            </span>
            {% endif %}
    </div>
</div> <!-- END OF ENTRY -->
