{% extends 'main/base.html' %}
{% load paging %}

{% block content %}
    <h2>Aktualności</h2>
    <section id="news" class="iterable">
        {% for news in news_page.object_list %}
            {% include 'pages/news_item_box.html' %}
        {% empty %}
            <hr/><br/>
            <p class="error">Nie opublikowano jeszcze żadncyh aktualności. Wróć do strony <a href="/">głównej</a>.</p>
        {% endfor %}
    </section>
    {% insert_pagination news_page '/aktualnosci' %}
{% endblock %}
