{% load skins %}
{% load cache %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}KMDG{% if sitetitle %} - {{ sitetitle }}{% endif %}{% endblock %}</title>
    <meta charset="UTF-8">

    <meta name="author" content="Piotr Skonieczka, skoczek@mat.umk.pl"/>
    <meta name="description" content="Koło Miłośników Dziejów Grudziądza"/>
    <meta name="keywords" content="{% include 'static-elements/keywords.txt'%},{% block extrakeywords%}{% endblock%}"/>
    <meta name="robots" content="all" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />

    <link href="{% include 'static-elements/favicon.base64' %}" rel="shortcut icon"/>
    {% cache 60  styles %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css' %}/{% get_skin %}" rel="stylesheet"/>
    {% endcache %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extrahead %}{% endblock %}
</head>

<body>
    <div id="site-wrapper"><!-- SITE-WRAPPER -->
    <header> <!-- HEADER -->
        <h1>
            Koło Miłośników Dziejów Grudziądza
            <span>
                <a href="/"><img alt="Logo KMDG" src="{% include 'static-elements/logo-kmdg.base64' %}"/></a>
                <a href="http://grudziadz.pl"><img alt="Herb Grudziądza" src="{% include 'static-elements/logo-gru.base64' %}"/></a>
            </span>
        </h1>

        <!-- Pasek nawigacyjny -->
        <nav>
            <ul id="menu">
                <li><a id="nav-home" href="/"><div class="menu-icon-box icon-home"></div>Strona główna</a></li>
                <li><a id="nav-news" href="/aktualnosci/"><div class="menu-icon-box icon-news"></div>Aktualności</a></li>
                <li><a id="nav-calendar" href="/kalendarium/"><div class="menu-icon-box icon-calendar"></div>Kalendarium</a></li>
                <li><a id="nav-bulletins" href="#"><div class="menu-icon-box icon-bulletins"></div>Publikacje</a>
                    <ul class="sub">
                        <li><a href="/publikacje/biuletyny/">Biuletyny</a></li>
                        <li><a href="/publikacje/ksiazki/">Książki</a></li>
                        <li><a href="/publikacje/cykle/">Cykle zamknięte</a></li>
                    </ul>
                </li>
                <li><a id="nav-gallery" href="/galerie/"><div class="menu-icon-box icon-gallery"></div>Galerie</a></li>
                <li><a id="nav-bosses" href="/zarzad/"><div class="menu-icon-box icon-managnment"></div>Zarząd</a></li>
            </ul>
        </nav>
    </header> <!-- END OF HEADER -->

    <article>
        {% block content %}{% endblock %}
    </article> <!-- END OF ARTICLE -->
    </div> <!-- END OF SITE-WRAPPER -->

    <footer> <!-- FOOTER -->
        <span>Partnerzy:</span>
        <ul id="partners">
            <li><a href="http://www.gtk.grudziadz.pl/" target="_blank" title="Grudziądzkie Towarzystwo Kultury"><img alt="GTK" src="{% include 'static-elements/logo-gtk.base64' %}"/></a></li>
            <li><a href="http://www.smgr.pl/" target="_blank" title="Spółdzielnia Mieszkaniowa w Grudziądzu"><img alt="SMGR" src="{% include 'static-elements/logo-sm.base64' %}"/></a></li>
            <li><a href="http://www.muzeum.grudziadz.pl/" target="_blank" title="Muzeum im. ks. dr. Władysława Łęgi w Grudziądzu"><img alt="Muzeum Grudziądz" src="{% include 'static-elements/logo-museum.base64' %}"/></a></li>
            <li><a href="http://www.biblioteka.grudziadz.pl/" target="_blank" title="Biblioteka Miejska im. Wiktora Kulerskiego w Grudziądzu"><img alt="Biblioteka Miejska" src="{% include 'static-elements/logo-library.base64' %}"/></a></li>
        </ul>

        <p class="copyright">Copyright © 2013 <a href="mailto:skoczek@mat.umk.pl">Piotr Skonieczka</a></p>
    </footer> <!-- END OF FOOTER -->

</body>
</html>
